body{
    background-color: rgb(3, 217, 255);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.structureContainter{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

/* HEADER-TITLE-AND IMG-TEXT AND DARK MODE BUTTONS */
header{
    background-color: #003817;
    width: 100%;
    height: 20vh;
    text-align: center;
}
h1{
    font-size:8vh;
    margin-top:1.5vh;
}
.buttonContainer{
    width: 30%;
    margin: 0 auto;
    margin-top: -4vh;
    display: flex;
    justify-content: space-around;
}
.buttonContainer button:hover{
    background-color: #6c3eab;
}

/* -----------------------------------------------------------------*/



/* MAIN CONTAINER IMG MEME-TOP AND BOTTOM TEXT */
main{
    background-color: #045b28;

            /* ALTURA NO RESPONSIVA */
    height:80vh;
}
.mainContainer{
    background-color: red;
    height: 90%;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.text{
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
}
.top{
    padding: 10px 0px;
    margin: 0;
}
.bottom{
    padding: 10px 0px;
    margin: 0;
    /* NO RESPONSIVO*/
}
.memeContainer{
    background-color: black;
    height:60vh;
}
.downloadPictureButton{
    background-color: #00ff66;
    color: white;
    margin-bottom: 2vh;
    margin-left: 46%;
    margin-top: 2.5vh;
    border-radius: 5px;
    border-style: none;
    padding: 1vh;
    font-weight: bold;
}

/* ----------------------------------------------------------------------- */

/* ASIDE IMAGEN  */

.asideImage, .asideText{
    background-color: #074822;
    position: absolute;
    left: 76%;
    overflow-y: scroll;
    height: 96vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    width: 40vh;
}
.asideImage h3, .asideText h3{
    font-size: 4vh;
    text-align: center;
}
.asideImage input {
    width: 97%;
    border-radius: 5px;
    border-style: none;
    padding: 0.5vh;
    background-color: #0b622f;
    color: white;
}
.asideImage p, .asideText p{
    margin-bottom: 0.5vh;
}
.divColorAndBackgroundColor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divColorAndBackgroundColor input{
    background-color: #0b622f;
    width: 42%;
}
.divColorAndBackgroundColor select{
    background-color: #0b622f;
    color: white;
    text-align: center;
    width: 42%;
    border-radius: 5px;
    border-style: none;
}
.divPictureEffect p {
    padding: 2vh;
    padding-left: 0;
}


/* FIN DE ESTILAMIENTO DEL ASIDE IMG */




/* HOVER Y FOCUS PART */
.color:focus, .backgroundColor:focus, .asideImage input:hover, .inputTopText:hover, .inputBottomText:hover, .divFontFamilySelect select:hover, .divButtonTextAlignAndSize input:hover, .divButtonTextAlignAndSize button:hover, .outlineOptions button:hover, .divTextBoxMargin input:hover, .divTextBoxLeading input:hover, .divColorAndBackgroundColor select:hover{
    background-color: #0e783a;
}
.asideImage input:focus{
    outline: none ;
}





/* ESTILAMIENTO DE ASIDE TEXT */


.inputTopText, .inputBottomText{
    background-color: #0b622f;
    color: white;
    width: 95%;
    border-style: none;
    border-radius: 5px;
    padding: 1vh;
}

#checkWithoutTopText, #checkWithoutBottomText, .labelCheckBoxTexts, .checkWithClearBackground{
    margin-top: 1vh;
}
.divFontFamilySelect select{
    background-color: #0b622f;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}
.divButtonTextAlignAndSize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divButtonTextAlignAndSize input{
    background-color: #0b622f;
    color: white;
    width: 50%;
    border-radius: 5px;
    border-style: none;
    padding: 1vh;
}

.divButtonTextAlignAndSize button, .outlineOptions button, .asideImage button, .buttonContainer button{
    background-color: #0b622f;
    border-radius: 5px;
    border-style: none;
    padding: 1.5vh;
    color: white;
    font-size: 15px;
}

.asideImage button{
    padding: 0;
}

.divTextAndBackgroundColor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.color, .backgroundColor{
    background-color: #0b622f;
    border-radius: 5px;
    border-style: none;
    display: flex;
    flex-direction: row;
    width:max-content;
}
.outlineOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divTextBoxMargin input, .divTextBoxLeading input{
    width: 100%;
    background-color: #0b622f;
    border-radius: 5px;
    border-style: none;
}

/* FIN DE ESTILAMIENTO ASIDE TEXT */





/* --------------------------------------------------------------- */
/* JAVASCRIPT PART */
/* ---------------------------------------------------------------------------- */


/* ACCION ESCONDER */
.hide{
    display: none;
}



/* MODO CLARO */

.ligthModeHeader{
    background-color: #efe44a;
    color: rgb(52, 52, 52);
}
.ligthModeButtonHeader button{
    background-color: #faec20;
    color: rgb(52, 52, 52);
}
.ligthModeButtonHeader button:hover{
    background-color: #b68fff;
    border-style: none;
    border-radius: 5px;
}
.ligthMain{
    background-color: #fff892;
}
.ligthDownloadPictureButton{
    background-color: rgb(0, 255, 119);
    color: rgb(52, 52, 52);
    
}
.ligthModeAsideImg, .ligthModeAsideText {
    background-color: #ebe00d;
    color: rgb(52, 52, 52);
}
.ligthModeAsideImg button, .ligthModeAsideImg select, .ligthModeAsideText button, .ligthModeAsideImg input, .ligthModeAsideText input, .ligthModeAsideText span, .ligthModeAsideText select{
    background-color: #fff200;
    color: rgb(52, 52, 52);
}
.ligthModeAsideImg button:hover, .ligthModeAsideImg select:hover, .ligthModeAsideText button:hover, .ligthModeAsideImg input:hover, .ligthModeAsideText input:hover, .ligthModeAsideText span:hover, .ligthModeAsideText select:hover{
    background-color: #fff98f;
}
































































